<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="stsyle.css">
  <title>Url Shortner </title>
</head>
<body style=" background-color: #172774;">
    <h3 style="text-transform: uppercase;margin-top: 50px; justify-content: center;text-align: center; align-items: center; align-items: center; font-weight: 500; color: #FFDEFA;">create a short URL using a HTML form</h3>
  <div class="container" style="border: 2px solid black; padding: 50px 50px; margin-top: 100px; background-color: #FFDEFA;">
  
    <form action="/shortUrls" method="POST" class="my-4 form-inline">
      <label for="fullUrl" class="sr-only">Url</label>
      <input required placeholder="Url" type="url" name="fullUrl" id="fullUrl" class="form-control col mr-2">
      <button style="border: 2px solid #A2D2FF ;width: 200px;padding: 5px 5px 5px 5px; border-radius: 20px; text-transform: uppercase;  background-image: linear-gradient(#2C2891, #FF0075); color: white;" type="submit">Short the url</button>
    </form>
    
    <table class="table table-striped table-responsive">
      <thead>
        <tr>
          <th>Full URL</th>
          <th>Short URL</th>
          <th>Clicks</th>
        </tr>
      </thead>
      <tbody>
        <% shortUrls.forEach(shortUrl => { %>
          <tr>
            <td><a href="<%= shortUrl.full %>"><%= shortUrl.full %></a></td>
            <td><a href="<%= shortUrl.short %>"><%= shortUrl.short %></a></td>
            <td><%= shortUrl.clicks %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</body>
</html>